# defaults
.vscode/**
.vscode-test/**
.vscode-test-web/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts

# additional
.github/**
.editorconfig
.eslint*
.*ignore
*.yml
